

.header-flex{
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 display: flex;
 justify-content: space-between;
}

.title{
  border: 1px solid black;
  color: MediumAquamarine;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.navigation{
  display: flex;
  align-items: center;
}
li{
display: inline-block;
width: 100px;
}
div{
  border: 1px solid black;
}
.main{
  border: 1px solid black;
  display: flex;
}
.large{
  border: 1px solid black;
  width: 630px;
}
.medium{
  border: 1px solid black;
  width: 300px;
}
.small{
  border: 1px solid black;
  width: 240px;
}

/*large div*/
.first {
  background-color: pink;
}
