body{
  font-family: helvetica sans-serif;
}

.header-flex{
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.logo{

}

.title{
  color: MediumAquamarine

}

li{
  display: inline-block;
}
