body{
  font-family: helvetica sans-serif;
}

.header-flex{
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 display: flex;
 align-content: space-around;

}

.title{
  color: MediumAquamarine;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

ul{
  display: flex;
}

li{
  display: inline-block;
  justify-content: space-between;
  align-self: center;

}
