

/*header section*/
.header-flex{
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 display: flex;
 justify-content: space-between;
 border-bottom: 2px solid black;

}

.title{
  color: MediumAquamarine;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navigation{
  display: flex;
  align-items: center;
}
li{
display: inline-block;
width: 100px;
}
/*main content*/
div{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.main{
  display: flex;

}
.large{
  width: 630px;
  margin: 20px;
}
.medium{
  width: 300px;
}
.small{
  width: 240px;
  margin: 20px;
}
.broken{
  width: 275px;
}
.columns{
  display: flex;
  text-align:left;
  justify-content: space-between;

}

/*images*/

.image-one{
  background-image: url("../images/img-story-main.png");
  display: flex;
  width: 630px;
}

.image-two{
  background-image: url("../images/img-story-2.png");
  width: 300px;
}
.image-three{
  background-image: url("../images/img-story-3.png");
  width: 300px;
}
.image-four{
  background-image: url("../images/img-story-1.png");
}
.pic{
  height: 300px;
  display: flex;
  align-self: center;
}
h3{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
}
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  min-width: 300px;
}

.story{
  font-size: 40px;
}
